/* page background  */
body{
    background-image: url(../Body_BG.jpg);
    background-size: 1537px 750px;
    background-repeat: no-repeat;
}

/* Create new acc or forgot pswd  */
.acc-pswd-lnk{
    color: white;
    transition: 0.5s
}
.acc-pswd-lnk:hover{
    color: rgb(19, 120, 235);
}



/* sign-up Page  */

/* privacy details / policies  */
.privacy-details{
    font-size: 12px;
}

#email-error-msg{
    color: rgb(255, 255, 255);
    font-size: smaller;
    border-radius: 6px;
    text-shadow: 10px;
    display: none; 
 }

 #pswd-error-msg{
    color: rgb(255, 255, 255);
    font-size: smaller;
    border-radius: 6px;
    text-shadow: 10px;
    display: none; 
 }
